<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layouts/default">
<head>
    <title>Tags</title>
</head>

<body>

<!-- Content Header (Page header) -->
<div layout:fragment="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Paramétage home page</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Tags</a></li>
                    <li class="breadcrumb-item active">List</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section layout:fragment="content">

    <!-- /.container-fluid -->
    <div class="container-fluid">
        <div class="card-footer clearfix">
            <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#newConfiguration"><i class="fas fa-plus"></i> Add Tag</button>
<!--            <a type="button" th:href="@{/admin/addPost}" class="btn btn-info float-right"><i class="fas fa-plus"></i> Add Tag</a>-->

        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">All Tags</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
<!--                                <th>Author</th>-->
                                <th>Key</th>
<!--                                <th>Date of Creation</th>-->
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="tag:${tags}">
                                <td th:text="${tag.getId()}">Trident</td>
                                <td th:text="${tag.getKey()}">Internet
                                    Explorer 4.0
                                </td>
<!--                                <td th:text="${ (#strings.length(comment.getTitle()) >= 25) ? #strings.substring(comment.getTitle() , 0 , 25) + '...' : category.getTitle() }">Win 95+</td>-->
<!--                                <td th:datetime="${comment.getDoc()}" th:text="${comment.getDoc()}"> 4</td>-->
                                <td>
                                    <a type= "button" class="btn btn-primary" th:href="@{/admin/showPost(id = ${tag.getId()})}" th:alt-title="Show"> <i class="fa fa-eye"></i>  </a>
                                    <a type= "button" class="btn btn-secondary" data-toggle="modal" data-target="#newConfiguration" th:attr="data-target='#newConfiguration'+${tag.getId()}" th:alt-title="Edit"> <i class="fa fa-edit">  </i> </a>
                                    <a type= "button" class="btn btn-danger" data-toggle="modal" data-target="#newConfiguration" th:attr="data-target='#newConfiguration'+${tag.getId()}+${tag.getId()}" th:alt-title="Delete"> <i class="fa fa-trash">  </i> </a>
                                </td>
                                <div layout:fragment="modal_post" class="modal fade" th:id="newConfiguration+${tag.getId()}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel2">New Tag</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <!-- form start -->
                                            <form th:action="@{/admin/addTag}" method="post">
                                                <div class="card-body">
                                                    <input type="hidden" th:value="${tag.getId()}" name="tagId">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail2">Key</label>
                                                        <input class="form-control" th:value="${tag.getKey()}" id="exampleInputEmail2" placeholder="Enter the Tag Key " name="key">
                                                    </div>
                                                    <!--<div class="form-group">
                                                        <label for="exampleInputFile">Charg</label>
                                                        <div class="input-group">
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                                            </div>
                                                            <div class="input-group-append">
                                                                <span class="input-group-text">Upload</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                                    </div>-->
                                                </div>

                                                <!-- /.card-body -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    <button type="submit" class="btn btn-primary">Update</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div layout:fragment="modal_post" class="modal fade" th:id="newConfiguration+${tag.getId()}+${tag.getId()}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Confirm Tag Delete</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Do you really want to delete this tag&hellip;?</p>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <a type="button" th:href="@{/admin/deleteTag(id = ${tag.getId()})}" class="btn btn-danger">Delete</a>
                                            </div>
                                        </div>
                                        <!--        &lt;!&ndash; /.modal-content -->
                                    </div>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--                <div class="row">-->
                <!--                    <div class="text-center">-->
                <!--                        <ul class="pagination pagination-large">-->
                <!--                            <li class="disabled"><span>«</span></li>-->
                <!--                            <li class="active"><span>1</span></li>-->
                <!--                            <li><a href="https://bootsnipp.com/tags/lists?page=2">2</a></li>-->
                <!--                            <li><a href="https://bootsnipp.com/tags/lists?page=3">3</a></li>-->
                <!--                            <li><a href="https://bootsnipp.com/tags/lists?page=2" rel="next">»</a></li>-->
                <!--                        </ul>-->
                <!--                    </div>-->
                <!--                </div>-->
                <nav aria-label="Page navigation example" th:if="${totalPages > 1}">
                    <ul class="pagination">
                        <li th:if="${currentPage > 1}" class="page-item"><a class="page-link" th:href="@{/admin/tags(page = ${currentPage - 1})}" href="#">Previous</a></li>
                        <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}" ><a class="page-link" th:href="@{/admin/tags(page = ${i})}" th:text="${i}" href="#">1</a></li>
                        <li th:if="${currentPage < totalPages}" class="page-item"><a class="page-link" th:href="@{/admin/tags(page = ${currentPage + 1})}" href="#">Next</a></li>
                    </ul>
                </nav>
                <!-- /.card-header -->
                <!--                    <div class="card-body table-responsive p-0">-->
                <!--                        <table class="table table-hover text-nowrap">-->
                <!--                            <thead>-->
                <!--                            <tr>-->
                <!--                                <th>ID</th>-->
                <!--                                <th>Author</th>-->
                <!--                                <th>Title</th>-->
                <!--&lt;!&ndash;                                <th>Body</th>&ndash;&gt;-->
                <!--                                <th>Date Of Creation</th>-->
                <!--                                <th>Actions</th>-->
                <!--                            </tr>-->
                <!--                            </thead>-->
                <!--                            <tbody>-->
                <!--                            <tr th:each="post:${posts}">-->
                <!--                                <td th:text="${post.getId()}">183</td>-->
                <!--                                <td th:text="${post.getAuthor()}">John Doe</td>-->
                <!--                                <td th:text="${ (#strings.length(post.getTitle()) >= 25) ? #strings.substring(post.getTitle() , 0 , 25) + '...' : post.getTitle() }">Title1</td>-->
                <!--&lt;!&ndash;                                <td th:text="${post.getBody()}">Body1</td>&ndash;&gt;-->
                <!--                                <td th:datetime="${post.getDoc()}">21-11-2020</td>-->
                <!--                                <td>-->
                <!--                                    <a type= "button" class="btn btn-primary" th:href="@{/admin/showPost(id = ${post.getId()})}" th:alt-title="Show"> <i class="fa fa-eye"></i>  </a>-->
                <!--                                    <a type= "button" class="btn btn-secondary" th:href="@{/admin/editPost(id = ${post.getId()})}" th:alt-title="Edit"> <i class="fa fa-edit">  </i> </a>-->
                <!--                                    <a type= "button" class="btn btn-danger" th:href="@{/admin/deletePost(id = ${post.getId()})}" th:alt-title="Delete"> <i class="fa fa-trash">  </i> </a>-->
                <!--                                </td>-->
                <!--                            </tr>-->
                <!--                            </tbody>-->
                <!--                        </table>-->

                <!--                    </div>-->
                <!--                    &lt;!&ndash; /.card-body &ndash;&gt;-->
                <!--                </div>-->
                <!-- /.card -->

            </div>
        </div>
    </div>
    <div layout:fragment="modal_post" class="modal fade" id="newConfiguration" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">New Tag</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- form start -->
                <form th:action="@{/admin/addTag}" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Key</label>
                            <input class="form-control" id="exampleInputEmail1" placeholder="Enter the Tag Key " name="key">
                        </div>
                        <!--<div class="form-group">
                            <label for="exampleInputFile">Charg</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="exampleInputFile">
                                    <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                    <span class="input-group-text">Upload</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>-->
                    </div>
                    <!-- /.card-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

</body>
</html>
