<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layouts/default">
<head>
    <title>Comments</title>
</head>

<body>

<!-- Content Header (Page header) -->
<div layout:fragment="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Paramétage home page</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Comments</a></li>
                    <li class="breadcrumb-item active">List</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section layout:fragment="content">

    <!-- /.container-fluid -->
    <div class="container-fluid">
        <div class="card-footer clearfix">
            <!--            <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#newConfiguration"><i class="fas fa-plus"></i> Add Post</button>-->
            <a type="button" th:href="@{/admin/addPost}" class="btn btn-info float-right"><i class="fas fa-plus"></i> Add Comment</a>

        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">All Comments</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Author</th>
                                <th>Content</th>
                                <th>Date of Creation</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="comment:${comments}">
                                <td th:text="${comment.getId()}">Trident</td>
                                <td th:text="${comment.getAuthor()}">Internet
                                Explorer 4.0
                                </td>
                                <td th:text="${ (#strings.length(comment.getBody()) > 25) ? #strings.substring(comment.getBody() , 0 , 25) + '...' : comment.getBody() }">Win 95+</td>
                                <td th:datetime="${comment.getDoc()}" th:text="${comment.getDoc()}"> 4</td>
                                <td>
                                    <a type= "button" class="btn btn-primary" th:href="@{/admin/showPost(id = ${comment.getId()})}" th:alt-title="Show"> <i class="fa fa-eye"></i>  </a>
                                    <a type= "button" class="btn btn-secondary" th:href="@{/admin/editPost(id = ${comment.getId()})}" th:alt-title="Edit"> <i class="fa fa-edit">  </i> </a>
                                    <a type= "button" class="btn btn-danger" th:href="@{/admin/deletePost(id = ${comment.getId()})}" th:alt-title="Delete"> <i class="fa fa-trash">  </i> </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--                <div class="row">-->
                <!--                    <div class="text-center">-->
                <!--                        <ul class="pagination pagination-large">-->
                <!--                            <li class="disabled"><span>«</span></li>-->
                <!--                            <li class="active"><span>1</span></li>-->
                <!--                            <li><a href="https://bootsnipp.com/tags/lists?page=2">2</a></li>-->
                <!--                            <li><a href="https://bootsnipp.com/tags/lists?page=3">3</a></li>-->
                <!--                            <li><a href="https://bootsnipp.com/tags/lists?page=2" rel="next">»</a></li>-->
                <!--                        </ul>-->
                <!--                    </div>-->
                <!--                </div>-->
                <nav aria-label="Page navigation example" th:if="${totalPages > 1}">
                    <ul class="pagination">
                        <li th:if="${currentPage > 1}" class="page-item"><a class="page-link" th:href="@{/admin/comments(page = ${currentPage - 1})}" href="#">Previous</a></li>
                        <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}" ><a class="page-link" th:href="@{/admin/comments(page = ${i})}" th:text="${i}" href="#">1</a></li>
                        <li th:if="${currentPage < totalPages}" class="page-item"><a class="page-link" th:href="@{/admin/comments(page = ${currentPage + 1})}" href="#">Next</a></li>
                    </ul>
                </nav>
                <!-- /.card-header -->
                <!--                    <div class="card-body table-responsive p-0">-->
                <!--                        <table class="table table-hover text-nowrap">-->
                <!--                            <thead>-->
                <!--                            <tr>-->
                <!--                                <th>ID</th>-->
                <!--                                <th>Author</th>-->
                <!--                                <th>Title</th>-->
                <!--&lt;!&ndash;                                <th>Body</th>&ndash;&gt;-->
                <!--                                <th>Date Of Creation</th>-->
                <!--                                <th>Actions</th>-->
                <!--                            </tr>-->
                <!--                            </thead>-->
                <!--                            <tbody>-->
                <!--                            <tr th:each="post:${posts}">-->
                <!--                                <td th:text="${post.getId()}">183</td>-->
                <!--                                <td th:text="${post.getAuthor()}">John Doe</td>-->
                <!--                                <td th:text="${ (#strings.length(post.getTitle()) >= 25) ? #strings.substring(post.getTitle() , 0 , 25) + '...' : post.getTitle() }">Title1</td>-->
                <!--&lt;!&ndash;                                <td th:text="${post.getBody()}">Body1</td>&ndash;&gt;-->
                <!--                                <td th:datetime="${post.getDoc()}">21-11-2020</td>-->
                <!--                                <td>-->
                <!--                                    <a type= "button" class="btn btn-primary" th:href="@{/admin/showPost(id = ${post.getId()})}" th:alt-title="Show"> <i class="fa fa-eye"></i>  </a>-->
                <!--                                    <a type= "button" class="btn btn-secondary" th:href="@{/admin/editPost(id = ${post.getId()})}" th:alt-title="Edit"> <i class="fa fa-edit">  </i> </a>-->
                <!--                                    <a type= "button" class="btn btn-danger" th:href="@{/admin/deletePost(id = ${post.getId()})}" th:alt-title="Delete"> <i class="fa fa-trash">  </i> </a>-->
                <!--                                </td>-->
                <!--                            </tr>-->
                <!--                            </tbody>-->
                <!--                        </table>-->

                <!--                    </div>-->
                <!--                    &lt;!&ndash; /.card-body &ndash;&gt;-->
                <!--                </div>-->
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
<!-- /.content -->

<div layout:fragment="modal_post" class="modal fade" id="newConfiguration" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">New Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- form start -->
            <form th:action="@{/admin/addPost}" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input class="form-control" id="exampleInputEmail1" placeholder="Enter Post Title " name="title">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword2">Body</label>
                        <textarea class="form-control" rows="4" id="exampleInputPassword2" placeholder="Enter Post Body" name="body"></textarea>
                    </div>
                    <!--<div class="form-group">
                        <label for="exampleInputFile">Charg</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="exampleInputFile">
                                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                            </div>
                            <div class="input-group-append">
                                <span class="input-group-text">Upload</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>-->
                </div>
                <!-- /.card-body -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
