 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layouts/default">
<head>
    <title>Posts</title>
</head>

<body>

<!-- Content Header (Page header) -->
<div layout:fragment="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 th:if="${post == null}" class="m-0">New Post</h1>
                <h1 th:unless="${post == null}" class="m-0">Edit Post</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Posts</a></li>
                    <li th:if="${post == null}" class="breadcrumb-item active">New</li>
                    <li th:unless="${post == null}" class="breadcrumb-item active">Edit</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<section layout:fragment="content" class="content">
    <form th:action="@{/admin/addPost}" th:object="${postForm}" method="post" enctype="multipart/form-data">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"> <small></small></h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="quickForm">
                            <div class="card-body">
                                <input th:unless="${post== null}" name="postId" th:value="${post.getId()}" type="hidden">
                                <div class="form-group">
                                    <label for="catid">Categories</label>
                                    <select multiple id="catid" class="selectpicker form-control" name="categoryIdList" data-selected-text-format="count > 3" title="Choose all the categories of your post...">
                                        <option th:if="${post == null}" th:each="category :${categories}" th:value="${category.getId()}" th:text="${category.getTitle()}" value="1">One</option>
                                        <option th:unless="${post == null}" th:each="category :${categories}" th:value="${category.getId()}" th:text="${category.getTitle()}" th:selected="${#lists.contains(post.getCategories(), category)}" value="1">One</option>
<!--                                        <option value="2">Two</option>-->
<!--                                        <option value="3">Three</option>-->
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Title</label>
                                    <input th:if="${post == null}" type="text" name="title" class="form-control" id="exampleInputEmail1" placeholder="Enter the title of the post">
                                    <input th:unless="${post == null}" type="text" th:value="${post.getTitle()}" name="title" class="form-control" id="exampleInputEmail1" placeholder="Enter the title of the post">
<!--                                    <div th:if="${#fields.hasErrors('name')}" th:errors = "*{name}"></div>-->
                                </div>
                                <div class="form-group">
                                    <label>Main Image</label>
                                    <div class="file-drop-area">
                                        <span class="choose-file-button">Choose Files</span>
                                        <span class="file-message">or drag and drop files here</span>
                                        <input id="mainImage" type="file" name="filename" class="file-input" accept=".jfif,.jpg,.jpeg,.png,.gif"> </div>
                                    <div id="divImageBlogMediaPreview">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="summernote">Content</label>
                                    <textarea th:if="${post == null}" id="summernote" name="body" rows="6" class="form-control" placeholder="Enter the content"></textarea>
                                    <textarea th:unless="${post == null}" id="summernote" th:utext="${post.getBody()}" name="body" rows="6" class="form-control" placeholder="Enter the content"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="tagid">Tags</label>
                                    <select multiple id="tagid" class="selectpicker form-control" name="tagIdList" data-selected-text-format="count > 3" title="Choose all the tags of your post...">
                                        <option th:if="${post == null}" th:each="tag :${tags}" th:value="${tag.getId()}" th:text="${tag.getKey()}" value="1">One</option>
                                        <option th:unless="${post == null}" th:each="tag :${tags}" th:value="${tag.getId()}" th:text="${tag.getKey()}" th:selected="${#lists.contains(post.getTags() , tag)}" value="1">One</option>
                                        <!--                                        <option value="2">Two</option>-->
                                        <!--                                        <option value="3">Three</option>-->
                                    </select>
                                </div>
<!--                                <div class="form-group mb-0">-->
<!--                                    <div class="custom-control custom-checkbox">-->
<!--                                        <input type="checkbox" name="terms" class="custom-control-input" id="exampleCheck1">-->
<!--                                        <label class="custom-control-label" for="exampleCheck1">I agree to the <a href="#">terms of service</a>.</label>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button th:if="${post == null}" type="submit" class="btn btn-primary">Save</button>
                                <button th:unless="${post == null}" type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <div class="col-md-6">

                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->

    </form>

    <!-- jQuery -->
    <script src="/admin/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#mainImage').change(function () {
                previewImage(this , '#divImageBlogMediaPreview');
            })
        })

    </script>
</section>
<!-- /.content -->




</body>
</html>