<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layouts/default">
<head>
    <title>Configuration</title>
</head>

<body>

<!-- Content Header (Page header) -->
    <div layout:fragment="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="m-0">Paramétage Pages Site</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Configuration</a></li>
                        <li class="breadcrumb-item active">Home</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="row">
                <div class="card-tools">
                    <ul class="pagination pagination-sm float-right">
                        <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div>
<!-- /.content-header -->

<!--
        Les modifications de Junior Debut
    -->
<!-- Main Content-->
    <section layout:fragment="content">
        <div class="container-fluid ParentBox">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">TopBar</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Zone</th>
                                    <th>Valeur</th>
                                    <th style="width: 40px">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Email entreprise</td>
                                    <td th:text="${configurations[0].getEmailCorp()}">
                                        support@saleka.com
                                    </td>
                                    <td>
                                        <a href="#" id="salekaTopBarEmail"><i class="nav-icon fas fa-edit"></i>edit</a>
                                        <div class="popConteneur">
                                            <div class="form-popup" id="salekaTopbarEmailDiv">
                                                <form th:action="@{/admin/editSiteConfiguration}">
                                                    <div class="form-group">
                                                        <input type="email", name="emailCorp" placeholder="Entrer la nouvelle Valeur" required>
                                                    </div>
                                                    <!-- /. form-group -->
                                                    <div class="form-group">
                                                        <button class="topbarButton" type="submit">Envoyer</button>
                                                        <button class="topbarButton cancel"  type="button">Annuler</button>
                                                    </div>
                                                    <!-- /. form-group -->
                                                </form>
                                                <!-- /. form -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Numero</td>
                                    <td th:text="${configurations[0].getTelCorp()}">
                                        +237 657482146
                                    </td>
                                    <td>
                                        <a href="#" id="salekaTopbarTel"><i class="nav-icon fas fa-edit"></i>edit</a>
                                        <div class="popConteneur">
                                            <div class="form-popup" id="salekaTopbarTelDiv">
                                                <form th:action="@{/admin/editSiteConfiguration}">
                                                    <div class="form-group">
                                                        <input type="tel", name="telCorp" placeholder="Entrer la nouvelle Valeur" required>
                                                    </div>
                                                    <!-- /. form-group -->
                                                    <div class="form-group">
                                                        <button class="topbarButton" type="submit">Envoyer</button>
                                                        <button class="topbarButton cancel"  type="button">Annuler</button>
                                                    </div>
                                                    <!-- /. form-group -->
                                                </form>
                                                <!-- /. form -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Slogan</td>
                                    <td th:text="${configurations[0].getSloganCorp()}">
                                        Paix-Travail-Patrie
                                    </td>
                                    <td>
                                        <a href="#" id="salekaTopbarSlogan"><i class="nav-icon fas fa-edit"></i>edit</a>
                                        <div class="popConteneur">
                                            <div class="form-popup" id="salekaTopbarSloganDiv">
                                                <form th:action="@{/admin/editSiteConfiguration}">
                                                    <div class="form-group">
                                                        <input type="text", name="sloganCorp" placeholder="Entrer la nouvelle Valeur" required>
                                                    </div>
                                                    <!-- /. form-group -->
                                                    <div class="form-group">
                                                        <button class="topbarButton" type="submit">Envoyer</button>
                                                        <button class="topbarButton cancel"  type="button">Annuler</button>
                                                    </div>
                                                    <!-- /. form-group -->
                                                </form>
                                                <!-- /. form -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Hero Titres</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Zone</th>
                                    <th>Valeur</th>
                                    <th style="width: 40px">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Titre Principal</td>
                                    <td th:text="${configurations[0].getTitrePrincipal()}">
                                        Bienvenue Sur Saleka
                                    </td>
                                    <td>
                                        <a href="#" id="salekaHeroTitre"><i class="nav-icon fas fa-edit"></i>edit</a>
                                        <div class="popConteneur">
                                            <div class="form-popup" id="salekaHeroTitreDiv">
                                                <form th:action="@{/admin/editSiteConfiguration}">
                                                    <div class="form-group">
                                                        <input type="text", name="heroTitre" placeholder="Entrer la nouvelle Valeur" required>
                                                    </div>
                                                    <!-- /. form-group -->
                                                    <div class="form-group">
                                                        <button class="topbarButton" type="submit">Envoyer</button>
                                                        <button class="topbarButton cancel"  type="button">Annuler</button>
                                                    </div>
                                                    <!-- /. form-group -->
                                                </form>
                                                <!-- /. form -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Sous Titre Principal</td>
                                    <td th:text="${configurations[0].getSousTitrePrincipal()}">
                                         Sous Titre Principal
                                    </td>
                                    <td>
                                        <a href="#" id="salekaHeroSousTitre"><i class="nav-icon fas fa-edit"></i>edit</a>
                                        <div class="popConteneur">
                                            <div class="form-popup" id="salekaHeroSousTitreDiv">
                                                <form th:action="@{/admin/editSiteConfiguration}">
                                                    <div class="form-group">
                                                        <input type="text", name="heroSousTitre" placeholder="Entrer la nouvelle Valeur" required>
                                                    </div>
                                                    <!-- /. form-group -->
                                                    <div class="form-group">
                                                        <button class="topbarButton" type="submit">Envoyer</button>
                                                        <button class="topbarButton cancel"  type="button">Annuler</button>
                                                    </div>
                                                    <!-- /. form-group -->
                                                </form>
                                                <!-- /. form -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-->
            </div>
            <!-- /.row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">Image de Fond du Hero</h3>
                        </div>
                        <div class="card-body">
                            <div id="actions" class="row">
                                <div class="col-lg-6">
                                    <div class="btn-group w-100">
                                <span class="btn btn-success col fileinput-button">
                                  <i class="fas fa-plus"></i>
                                  <span>Add files</span>
                                </span>
                                        <button type="submit" class="btn btn-primary col start">
                                            <i class="fas fa-upload"></i>
                                            <span>Start upload</span>
                                        </button>
                                        <button type="reset" class="btn btn-warning col cancel">
                                            <i class="fas fa-times-circle"></i>
                                            <span>Cancel upload</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center">
                                    <div class="fileupload-process w-100">
                                        <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table table-striped files" id="previews">
                                <div id="template" class="row mt-2">
                                    <div class="col-auto">
                                        <span class="preview"><img src="data:," alt="" data-dz-thumbnail /></span>
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        <p class="mb-0">
                                            <span class="lead" data-dz-name></span>
                                            (<span data-dz-size></span>)
                                        </p>
                                        <strong class="error text-danger" data-dz-errormessage></strong>
                                    </div>
                                    <div class="col-4 d-flex align-items-center">
                                        <div class="progress progress-striped active w-100" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                            <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                                        </div>
                                    </div>
                                    <div class="col-auto d-flex align-items-center">
                                        <div class="btn-group">
                                            <button class="btn btn-primary start">
                                                <i class="fas fa-upload"></i>
                                                <span>Start</span>
                                            </button>
                                            <button data-dz-remove class="btn btn-warning cancel">
                                                <i class="fas fa-times-circle"></i>
                                                <span>Cancel</span>
                                            </button>
                                            <button data-dz-remove class="btn btn-danger delete">
                                                <i class="fas fa-trash"></i>
                                                <span>Delete</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /. Col-->
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Bloc1</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Zone</th>
                                    <th>Valeur</th>
                                    <th style="width: 40px">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Titre</td>
                                    <td th:text="${configurations[0].getBloc1WhyusTitre()}">
                                        Grand Titre Du Bloc 1
                                    </td>
                                    <td>
                                        <a href="#" id="salekaBloc1WhyusTitre"><i class="nav-icon fas fa-edit"></i>edit</a>
                                        <div class="popConteneur">
                                            <div class="form-popup" id="salekaBloc1WhyusTitreDiv">
                                                <form th:action="@{/admin/editSiteConfiguration}">
                                                    <div class="form-group">
                                                        <input type="text", name="bloc1WhyusTitre" placeholder="Entrer la nouvelle Valeur" required>
                                                    </div>
                                                    <!-- /. form-group -->
                                                    <div class="form-group">
                                                        <button class="topbarButton" type="submit">Envoyer</button>
                                                        <button class="topbarButton cancel"  type="button">Annuler</button>
                                                    </div>
                                                    <!-- /. form-group -->
                                                </form>
                                                <!-- /. form -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Sous Titre</td>
                                    <td th:text="${configurations[0].getBloc1WhyusSousTitre()}">
                                        Petit Sous Titre du Bloc 1
                                    </td>
                                    <td>
                                        <a href="#" id="salekaBloc1WhyusSousTitre"><i class="nav-icon fas fa-edit"></i>edit</a>
                                        <div class="popConteneur">
                                            <div class="form-popup" id="salekaBloc1WhyusSousTitreDiv">
                                                <form th:action="@{/admin/editSiteConfiguration}">
                                                    <div class="form-group">
                                                        <input type="text", name="bloc1WhyusSousTitre" placeholder="Entrer la nouvelle Valeur" required>
                                                    </div>
                                                    <!-- /. form-group -->
                                                    <div class="form-group">
                                                        <button class="topbarButton" type="submit">Envoyer</button>
                                                        <button class="topbarButton cancel"  type="button">Annuler</button>
                                                    </div>
                                                    <!-- /. form-group -->
                                                </form>
                                                <!-- /. form -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Boite 1</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Zone</th>
                                    <th>Valeur</th>
                                    <th style="width: 40px">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Titre</td>
                                    <td th:text="${configurations[0].getBloc2WhyusBoite1Titre()}">
                                        Grand Titre De la boite 1
                                    </td>
                                    <td>
                                        <a href="#" id="salekaBloc2WhyusBoite1Titre"><i class="nav-icon fas fa-edit"></i>edit</a>
                                        <div class="popConteneur">
                                            <div class="form-popup" id="salekaBloc2WhyusBoite1TitreDiv">
                                                <form th:action="@{/admin/editSiteConfiguration}">
                                                    <div class="form-group">
                                                        <input type="text", name="bloc2WhyusBoite1Titre" placeholder="Entrer la nouvelle Valeur" required>
                                                    </div>
                                                    <!-- /. form-group -->
                                                    <div class="form-group">
                                                        <button class="topbarButton" type="submit">Envoyer</button>
                                                        <button class="topbarButton cancel"  type="button">Annuler</button>
                                                    </div>
                                                    <!-- /. form-group -->
                                                </form>
                                                <!-- /. form -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Sous Titre</td>
                                    <td th:text="${configurations[0].getBloc2WhyusBoite1SousTitre()}">
                                        Petit Sous Titre de la boite 1
                                    </td>
                                    <td>
                                        <a href="#" id="salekaBloc2WhyusBoite1SousTitre"><i class="nav-icon fas fa-edit"></i>edit</a>
                                        <div class="popConteneur">
                                            <div class="form-popup" id="salekaBloc2WhyusBoite1SousTitreDiv">
                                                <form th:action="@{/admin/editSiteConfiguration}">
                                                    <div class="form-group">
                                                        <input type="text", name="bloc2WhyusBoite1SousTitre" placeholder="Entrer la nouvelle Valeur" required>
                                                    </div>
                                                    <!-- /. form-group -->
                                                    <div class="form-group">
                                                        <button class="topbarButton" type="submit">Envoyer</button>
                                                        <button class="topbarButton cancel"  type="button">Annuler</button>
                                                    </div>
                                                    <!-- /. form-group -->
                                                </form>
                                                <!-- /. form -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Boite 2</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Zone</th>
                                    <th>Valeur</th>
                                    <th style="width: 40px">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Titre</td>
                                    <td th:text="${configurations[0].getBloc2WhyusBoite2Titre()}">
                                        Titre de la boite 2
                                    </td>
                                    <td>
                                        <a href="#" id="salekaBloc2WhyusBoite2Titre"><i class="nav-icon fas fa-edit"></i>edit</a>
                                        <div class="popConteneur">
                                            <div class="form-popup" id="salekaBloc2WhyusBoite2TitreDiv">
                                                <form th:action="@{/admin/editSiteConfiguration}">
                                                    <div class="form-group">
                                                        <input type="text", name="bloc2WhyusBoite2Titre" placeholder="Entrer la nouvelle Valeur" required>
                                                    </div>
                                                    <!-- /. form-group -->
                                                    <div class="form-group">
                                                        <button class="topbarButton" type="submit">Envoyer</button>
                                                        <button class="topbarButton cancel"  type="button">Annuler</button>
                                                    </div>
                                                    <!-- /. form-group -->
                                                </form>
                                                <!-- /. form -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Sous Titre</td>
                                    <td th:text="${configurations[0].getBloc2WhyusBoite2SousTitre()}">
                                        Sous Titre de la boite 2
                                    </td>
                                    <td>
                                        <a href="#" id="salekaBloc2WhyusBoite2SousTitre"><i class="nav-icon fas fa-edit"></i>edit</a>
                                        <div class="popConteneur">
                                            <div class="form-popup" id="salekaBloc2WhyusBoite2SousTitreDiv">
                                                <form th:action="@{/admin/editSiteConfiguration}">
                                                    <div class="form-group">
                                                        <input type="text", name="bloc2WhyusBoite2SousTitre" placeholder="Entrer la nouvelle Valeur" required>
                                                    </div>
                                                    <!-- /. form-group -->
                                                    <div class="form-group">
                                                        <button class="topbarButton" type="submit">Envoyer</button>
                                                        <button class="topbarButton cancel"  type="button">Annuler</button>
                                                    </div>
                                                    <!-- /. form-group -->
                                                </form>
                                                <!-- /. form -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Boite 3</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Zone</th>
                                    <th>Valeur</th>
                                    <th style="width: 40px">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Titre</td>
                                    <td th:text="${configurations[0].getBloc2WhyusBoite3Titre()}">
                                        Titre de la boite 3
                                    </td>
                                    <td>
                                        <a href="#" id="salekaBloc2WhyusBoite3Titre"><i class="nav-icon fas fa-edit"></i>edit</a>
                                        <div class="popConteneur">
                                            <div class="form-popup" id="salekaBloc2WhyusBoite3TitreDiv">
                                                <form th:action="@{/admin/editSiteConfiguration}">
                                                    <div class="form-group">
                                                        <input type="text", name="bloc2WhyusBoite3Titre" placeholder="Entrer la nouvelle Valeur" required>
                                                    </div>
                                                    <!-- /. form-group -->
                                                    <div class="form-group">
                                                        <button class="topbarButton" type="submit">Envoyer</button>
                                                        <button class="topbarButton cancel"  type="button">Annuler</button>
                                                    </div>
                                                    <!-- /. form-group -->
                                                </form>
                                                <!-- /. form -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Sous Titre</td>
                                    <td th:text="${configurations[0].getBloc2WhyusBoite3SousTitre()}">
                                        Sous Titre de la boite 3
                                    </td>
                                    <td>
                                        <a href="#" id="salekaBloc2WhyusBoite3SousTitre"><i class="nav-icon fas fa-edit"></i>edit</a>
                                        <div class="popConteneur">
                                            <div class="form-popup" id="salekaBloc2WhyusBoite3SousTitreDiv">
                                                <form th:action="@{/admin/editSiteConfiguration}">
                                                    <div class="form-group">
                                                        <input type="text", name="bloc2WhyusBoite3SousTitre" placeholder="Entrer la nouvelle Valeur" required>
                                                    </div>
                                                    <!-- /. form-group -->
                                                    <div class="form-group">
                                                        <button class="topbarButton" type="submit">Envoyer</button>
                                                        <button class="topbarButton cancel"  type="button">Annuler</button>
                                                    </div>
                                                    <!-- /. form-group -->
                                                </form>
                                                <!-- /. form -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col-->
            </div>
            <!-- /.row-->
        </div>
        <!-- /. container-fluid-->
    </section>
<!-- /. content-->
<!-- Fin des Modifications-->

</body>
</html>
